[Unit]
Description=Battery Monitor

[Service]
Type=oneshot
ExecStart=/home/jack/.config/systemd/battery/battery.sh

[Install]
WantedBy=multi-user.target
